/*******************navBar********************/
nav{
    display: flex;
    justify-content: space-between;
    padding:7px 0 20px 0;
    
    width: 100%;
    background-color:#191c23;
}
nav h1{
    color:white;
    font-size: 2.3em;
}
.navContent{
    margin-top:15px;
    display: flex; 
    justify-content: space-between;
}
#cont{
    margin-right: 50px;
    text-decoration: none;
   font-weight: 600;
   font-size: 1.1em;
    color: white;
}
nav button{
    margin-top: 13px;
    margin-left: 80px;
    width: 120px;
    border-radius: 100px;
    border: white solid 1px;
    color:white;
    font-weight: 600;
    background: none;
}
nav button:hover{
    background-color: #ffb434;
}
/*****contactUs****/
.showContact{
    position: fixed;
    width: 100vw;
    height: 100vw;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8) ;
    margin: 0;
}
.contactContent{
    text-align: center;
    color: white;
   
}
.contactContent h1{
    padding-top: 8vw;
    font-size: 4em;
    padding-bottom: 20px;
}
.contactContent label{
    padding-top: 40px;
    margin-bottom: 10px;
    margin-left: -25vw;
}
.contactContent input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 30vw;
    border: none;
    border-radius: 50px;
}
.contactContent textarea{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 30vw;
    border: none;
    border-radius: 20px;
   
}
#contact-btn{
    margin-top: 15px;
    margin-left: 0px;
    padding: 10px;
    width: 120px;
    border-radius: 100px;
    border: white solid 1px;
    color:white;
    background: none;
}
#contact-btn:hover{
    background-color: #ffb434;
}

    

/*****************Home*********************/
.header{
    background: url('https://media.cntraveler.com/photos/628fe0c195fdcf29752f5136/master/w_3992,h_2661,c_limit/Palawan-GettyImages-985553596.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 49vw;
    text-align: center;
  }
  #header-content{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    color: white;
  }
#header-content>p{
font-size: 2em;
padding-top: 16vw;
font-weight: 600;
}
#header-content>h1{
    font-size: 4.9em;
    padding-top: 3vw;
}
#discover{
    padding: 15px;
    margin-top: 4.5vw;
    font-weight: 600;
    font-size: 1em;
    background:rgba(255,180,52, 0.8);
    color: white;
    border: solid white 1px;
    border-radius: 25px;
}
.showVideo{
    width: 100vw;
    height: 100vw;
    right: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9) ;
    text-align: center;
    padding-top: 150px;
}
#close{
    position: absolute;
    top:50px;
    right:80px ;
    color: antiquewhite;
    font-size: 1.5em;
    border: none;
    background: none;
}
/***PopularDestination***/
.popDest{
    display: flex;
    justify-content: space-between;
    height: 40vw;
    background:linear-gradient(0deg,rgba(255, 255, 255, 0),whitesmoke),url(https://www.lighthouse-geo.com/wp-content/uploads/2022/11/World-Map-PNG-Photos.png);
    background-size: 70%;
    background-position-x:10vw;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    box-shadow: 9px 10px 10px 9px grey;
}
#pop{
    padding: 60px 0 8px 50px;
    margin: 0;
    font-size: 2.5em;
    color: #00776f;
    width: 100px;
}
.popDestCont{
    margin: 0;
}
#viewDestinations{
padding-left:50px ;
text-decoration: none;
font-size: 1.3em;
font-weight: 500;
color: #ffb434;
}
.popDestCont p{
    width: 350px; 
    padding: 10px 0 8px 50px;
    color: slategray;
}
.destHome{
padding-top: 80px;
padding-left: 50px;
display: flex;
justify-content: space-between;
width: 60vw;
margin-right: 80px;
gap: 50px;
}
/***/
.cardHome{
    width: 35%;
    height: 25vw;
    position: relative;
}
.cardHome:hover {
    transform: scale(1.1);
   
}
.cardHome img{
    width: 100%;
    height: 100%;
}
#contentPop{
    position:absolute;
    width: 91.5%;
    height: 27%;
    color: white;
    top: 230px;
    padding: 10px;
    left:0;
    background-color: rgba(0, 0, 0, 0.4);
}
/**PopularTours***/
.popularTours{
    background: linear-gradient(0deg,rgba(255, 255, 255, 0),whitesmoke),url(https://worldtouristspots.com/wp-content/uploads/2021/10/15-different-types-of-vacations-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vw;
    text-align: center;
}
.popularTours h1{
    padding-top: 20px;
    padding-bottom:8px;
    font-size: 2.5em;
    color: #00776f;

}
#view{
text-decoration: none;
font-size: 1.3em;
font-weight: 500;
color: #ffb434;
}
.tourshome{
    display: flex;
    padding: 50px;
}
/****services****/
.services{
    height: 15vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding:80px 100px;
    gap: 150px;
    text-align: center;
}
.services h1{
    font-size: 2em;
    color: #00776f;
    padding-bottom: 15px;
}
.services p{
    color: #7e7e7e;
}
/**/
.post{
    height: 30vw;
    background: url(https://a.cdn-hotels.com/gdcs/production135/d1579/cbe33240-f585-11e8-b8fa-0242ac11000d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:-20vw;
    box-shadow: 9px 10px 10px 9px grey;

}
/**/
.photosHome{
    height: 58vw;
    background-color: whitesmoke;
    text-align: center;

}
.photosHome h1{
    padding-top: 50px;
    padding-bottom:8px;
    font-size: 2.5em;
    color: #00776f; 
}
#viewPhotos{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    color: #ffb434;
}


/**************************Destinations*****************************/
.destHeader{
    background: url(https://images.unsplash.com/photo-1682687220640-9d3b11ca30e5?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position-y: -20vw ;
    height: 42vw;
    text-align: center;
}
.destHeader>h1{
    width: 100%;
    height: 27.1vw;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 220px;
    color:whitesmoke;
    font-size: 4em;

}
.destCards{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    gap:100px;
    padding: 50px;
}
/***Destination Card***/
.cardDest{
    height: 30vw;
    width: 90%;
    background-color: #00776f;
    position: relative;
}
.cardDest img{
    width: 100%;
    height: 100%;
}
.destinationContent{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgb(0, 0, 0,0.1);
    position: absolute;
}
#cardCont{
    width: 30%;
    margin-left: 60px;
    margin-top: 50px;
    color: white;
}
#cardCont h1{
font-size: 3.5em;
}
/*****************destination************/
.destination-header{
    height: 35vw;
    text-align: center;
}
.destination-header>img{
    width: 100%;
    height: 100%;
}
#destination-header-content{
   position: absolute;
   top: 75px;
    width: 100%;
    height: 64.5%;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.2);
}
#destination-header-content>h1{
    padding-top: 10vw;
font-size: 5em;
}
.tours{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;

}
/*************************************Tours**********************************/
.tourHeader{
    height: 24vw;
    background: url(https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position-y: -20vw;
    background-repeat: no-repeat;
    text-align: center;
}
#search{
    padding-top: 10vw;

}
#search input{
    width: 30vw;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color:white;
}
.tourCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px ;
    gap: 50px;
}
/***tourCard***/
.cardTour{
    width: 20%;
    height: 25vw;
    position: relative;

}
.cardTour:hover{
    transform: scale(1.1);
}
.cardTour img{
    width: 100%;
    height: 100%;
}
.tourContent{
height: 100%;
width: 100%;
background-color: rgb(0, 0, 0,0.3);
color:white;
position: absolute;
text-align: center;
top: 0;
display:none;
}
.cardTour:hover  .tourContent{
display:block;
}
.tourContent h2{
margin-top: 120px;
}
#showBtn{
    padding: 10px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: #ffb434;
    border: solid white 2px;
    color: white;
}
/****Touur plan******/
.plans{
   display: flex;
justify-content: space-between;
gap: 50px;
padding: 100px 50px 0 50px;
}
.plan{
    width: 30%;
    border: #b1b1b1 solid 1px;
}
.plan img {
    width: 100% ;
    height: 60%;
}
.plan:hover{
    transform: scale(1.1);
}
.planContent{
    padding: 10px 30px 0 20px;
}

/**************Galery********************/
.galeryHeader{
    height: 32vw;
    background: url(https://www.authentikusa.com/uploads/images/orig/blog/lac-tahoe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:-10vw ;
    text-align: center;
}
.galeryHeader>h1{
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    padding-top: 220px;
    color:whitesmoke;
    font-size: 3em;
}
.photos{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 100px;
    gap: 50px;
}
.sharedPhoto{
    width: 30%;
    height: 17vw;
}
.sharedPhoto img{
    width: 100%;
    height: 100%;
}
.addPhoto{
    border: #b1b1b1 solid 2px ;
    border-radius: 5px;
    width: 30%;
    height: 17vw;
    text-align: center;
    color:#d6d5d5;
}
.addPhoto:hover{
cursor: pointer;
color: #7e7e7e;
}
#plus{
margin-top: 50px;
font-size: 6em;
}
/******/
.addModal{
    height: 100vw;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    
}
.modal{
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    width: 50vw;
    height: 25vw;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
#inputBox{
    margin-top: 100px;
    padding: 18px;
    width: 28vw;
    border:#b1b1b1 solid 0.5px;
    border-radius: 50px;
}
#add{
    padding: 10px;
    width: 100px;
    border-radius: 50px;
    border: white solid 1px;
    background-color: #ffb434;
    color: white;
    margin-top: 30px;
}
#closeModal{
    margin-right: 25px;
    margin-top: 15px;
    color: #7e7e7e;
    font-size: 1.2em;
    border: none;
    background: none;
}

button{
    cursor: pointer;
    
}